.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.2em;
}

button {
  padding: 0.3em 0.8em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #58a linear-gradient(hsla(0, 0%, 100%, 0.2), transparent);
  border-radius: 0.2em;
  box-shadow: 0 0.05em 0.25em rgba(0, 0, 0, 0.5);
  color: white;
  text-shadow: 0 -0.05em 0.05em rgba(0, 0, 0, 0.5);
  font-size: 120%;
  line-height: 1.5;
  min-width: 12em;
  cursor: pointer;

  &:hover {
    background: #58a linear-gradient(hsla(0, 100%, 0%, 0.2), transparent);
  }

  &:disabled {
    background: #ccc linear-gradient(hsla(0, 100%, 0%, 0.2), transparent);
  }
}
